.banner {
  display: flex;
}

.banner--portrait {
  @include for-phone-only {
    flex-direction: column;
  }

  div {
    flex: 1 0 0;
  }
}

.banner--covid {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em;
  @include for-tablet-portrait-up {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
  }
}

.banner__header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.banner__title {
  flex: 5 0 0;
  color: $black;
}

.banner__illustration {
  flex: 1 0 0;
  opacity: .8;
}

.portrait__content {
  padding: 2em;
  z-index: 2;
}

.portrait__image {
  display: flex;
  flex: 1 0 0;

  img {
    width: 100%;
    border-radius: 0 0 0 2em;
    -o-object-fit: cover;
    object-fit: cover;
    @include for-phone-only {
      width: 100%;
      border-radius: 2em 0 0 0;
    }
  }
}