.banner {
  display: flex;
  @include for-phone-only {
    flex-direction: column;
  }
}

.banner--portrait-large {
  .portrait__image {
    flex: 1 0 0;
  }

  .portrait__content {
    flex: 1 0 0;
  }
}

.banner--portrait-small {
  .portrait__image {
    flex: 1 0 0;
  }

  .portrait__content {
    flex: 3 0 0;
  }
}

.banner--covid {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em;
  @include for-tablet-portrait-up {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
  }
}

.banner__header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.banner__title {
  flex: 5 0 0;
  color: $black;
}

.banner__illustration {
  flex: 1 0 0;
  opacity: .8;
}

.portrait__content {
  padding: 2em;
  z-index: 2;
}

.portrait__image {
  display: flex;
  flex: 1 0 0;

  img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    @include for-phone-only {
      width: 100%;
    }
  }
}

.portrait__image--left {
  img {
    border-radius: 0 0 0 2em;
    @include for-phone-only {
      border-radius: 2em 0 0 0;
    }
  }
}

.portrait__image--right {
  img {
    border-radius: 0 0 2em 0;
    @include for-phone-only {
      border-radius: 0 0 0 2em;
    }
  }
}