.container {
  max-width: 70em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.container--centered {
  text-align: center;
  max-width: 75%;
}

.container--flex {
  display: flex;
  gap: 3em;
}

.container--quick-search {
  z-index: 2;
  margin-top: -1em;
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    margin-top: -2em;
  }
}