.dropdown-menu {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;

  .menu-item {
    a {
      font-size: .9em;
      position: relative;
      text-decoration: none;
      color: $black;
      letter-spacing: .05em;
      display: inline-block;
    }
  }

  .menu-item-has-children {
    > a {
      background-color: $black;
      background-color: $zanah;
      padding: 1em;
      border-radius: .2em;
      transition: .3s;
      @include for-phone-only {
        font-size: .8em;
      }

      &:after {
        content: url("img/icon-translate.svg");
        width: 1.1em;
        top: .2em;
        margin-left: .5em;
        display: inline-block;
      }

      &:hover {
        background-color: $mantis;
      }
    }

    .menu-item {
      margin-left: 0;

      a {
        font-size: .8em;
      }
    }
  }
}
// sub-menu

.sub-menu {
  display: none;
  position: absolute;
  border: 1px solid $zanah;
  border-radius: .2em;
  padding: 1em;
  background-color: $zanah;
  list-style: none;
  @include slide-in-bottom;
  @include for-tablet-landscape-up {
    margin-left: 0;
  }

  &--visible {
    display: block;
    @include for-tablet-landscape-up {
      margin-top: .3em;
    }
    @include for-phone-only {
      right: 1em;
      margin-top: 1em;
    }
  }

  .menu-item {
    a {
      border-top: 1px solid $gray;
      padding: 1em;

      &:hover {
        &:after,
        &:before {
          content: none;
        }
      }
    }

    &:first-child {
      a {
        font-weight: bold;
        border-top: 0;
      }
    }
  }
}