.dropdown-menu {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;

  .menu-item {
    a {
      font-size: .8em;
      position: relative;
      text-decoration: none;
      color: $black;
      letter-spacing: .05em;
      display: inline-block;
    }
  }

  .menu-item-has-children {
    > a {
      background-color: $black;
      background-color: $zanah;
      padding: 1em;
      border-radius: .2em;
      transition: .3s;
      @include for-phone-only {
        font-size: .8em;
      }
      @include for-tablet-landscape-up {
        min-width: 5.8em;
      }

      &:after {
        content: url("img/icon-translate.svg");
        width: 1.1em;
        top: .2em;
        margin-left: .5em;
        display: inline-block;
      }

      &:hover {
        background-color: $mantis;
      }

      &.menu-link--current {
        background-color: $mantis;
      }
    }

    .menu-item {
      margin-left: 0;

      a {
        font-size: .8em;
      }
    }
  }
}
// sub-menu
.sub-menu {
  display: none;
  position: absolute;
  border: 1px solid $zanah;
  border-radius: .2em;
  padding: 1em;
  background-color: $zanah;
  list-style: none;
  @include slide-in-bottom;
  @include for-tablet-landscape-up {
    margin-left: 0;
  }

  &--visible {
    display: block;
    margin-top: .3em;
  }

  .menu-item {
    a {
      margin: .5em 0;
    }

    &:first-child {
      a {
        font-weight: bold;

        &:after {
          content: url("img/icon-check.svg");
          width: 1em;
          display: inline-block;
          margin-left: .5em;
        }
      }
    }
  }
}