.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper--rounded {
  padding: 2em;
  border-radius: 1em;
}

.flex-wrap {
  display: flex;
}

.flex-center--x {
  align-items: center;
}

.flex-center--y {
  justify-content: center;
}