.site-footer {
  margin-top: 10em;
  background-color: $cod-gray;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-social-menu-container {
    margin-top: 2em;
  }

  .menu-footer-menu-container {}

  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include for-tablet-landscape-up {
      flex-direction: row;
    }

    .menu-item {
      list-style: none;
      margin: .5em 0;
      @include for-tablet-landscape-up {
        margin: 0 0 0 2em;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        color: $zanah;
        text-decoration: none;
        letter-spacing: .05em;
        font-size: .8em;
      }
    }
  }
}

#social-menu {
  .menu-item a {
    background-color: $mantis;
    border-radius: 50%;
    background-image: url("img/icon-instagram.svg");
    background-repeat: no-repeat;
    background-size: 1.8em;
    background-position: center;
    color: transparent;
    width: 3em;
    height: 3em;
    display: block;
  }
}