.main-navigation {
  width: 100%;
  margin-left: auto;
  display: flex;
  @include for-tablet-portrait-up {
    margin-left: 3em;
  }

  .menu-toggle {
    margin-left: auto;
    z-index: 1;
    background-color: $black;
    border: 1px solid $black;
    border-radius: .2em;
    color: white;
    font-size: .8em;
  }

  &.toggled {
    .nav-menu {
      background-color: $cod-gray;
      position: fixed;
      top: 4em;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .menu-item {
        margin-left: 2em;

        a {
          color: $mantis;
        }
      }
    }
  }
}

.menu-language-menu-container {
  @include for-tablet-portrait-up {
    margin-left: 5em;
  }
}
/* Small menu. */
.menu-toggle {
  display: block;
  @include for-tablet-portrait-up {
    display: none;
  }
}