.site-header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
  @include for-tablet-portrait-up {
    height: 7em;
  }

  .container {
    display: flex;
    align-items: center;
  }
}

.site-header--shadow {
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2);
}